<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Tambah buku baru</h1>
    <form method="POST" th:action="@{/book/new}" th:object="${bookCreateDTO}" >
        <table>
            <tr>
                <td>Title : </td>
                <td><input name="title" type="text" th:field="*{bookTitle}" ></td>
            </tr>
            <tr>
                <td>Author Name : </td>
                <td><input name="author" type="text" th:field="*{authorName}" ></td>
            </tr>
            <tr>
                <td>Description : </td>
                <td><textarea name="description" rows="5" cols="20" th:field="*{description}" ></textarea></td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="submit" >
                </td>
            </tr>
        </table>
    </form>
</body>
</html>